
body{
    font-family: 'Open Sans', sans-serif;
}

#title{
    background-color: #F0ECE3;
}

.heading{
    margin-top: 50px;
}
.book1{
    width:45%;
}
.book3{
    width:45%;
}
.border{
    border: 5cm;;
}
.center{
    margin:auto;
}